.management-section{
  padding: 169px 0 38px
}
.management{
  @include display();
}
.management__content{
  width: 486px;
}
.management__span{
  @include textStyle($fontWeight:600);
  line-height: normal;
  margin-bottom: 8px;
  display: inline-block;
}
.management__title{
  @include textStyle($fontSize:32px, $fontWeight:700);
  margin-bottom: 32px;
  line-height: normal;
}
.management__small-title{
  @include textStyle($fontWeight:600);
  display: inline-block;
}
.management__small-change{
  margin-top: 25px;
}
.management__text{
  margin-top: 12px;
  line-height: 26px
}
// Tablet style start 
@media only screen and (max-width:1000px){
  .management-section{
    padding: 109px 0 38px
  }
  .management__img{
    width: 450px;
    height: 400px;
  }
}
@media only screen and (max-width:914px){
  .management-section{
    padding: 39px 0 38px
  }
}
@media only screen and (max-width:874px){
  .management{
    @include display();
    flex-direction: column-reverse;
  }
  .management__content{
    padding: 0  50px;
    text-align: center;
    width: 85%;
  }
  .management__img{
  margin-bottom: 50px;
  }
  .management__title{
    @include textStyle($fontSize:32px, $fontWeight:700);
   margin-bottom: 16px;
  }
  // .management__content{
  //   padding: 0  30px;
  //   text-align: center;
  //   width: 100%;
  // }
}
@media only screen and (max-width:690px){
  .management__content{
    padding: 0  40px;
    width: 95%;
  }
}
@media only screen and (max-width:614px){
  .management__img{
   width: 400px;
   height: 350px;
  }

}
// Tablet style end
// Mobile style start
@media only screen and (max-width:532px){
  .management__img{
    width: 350px;
    height: 300px;
   }
   .management__content{
    padding: 0 10px;
  }
 
}
@media only screen and (max-width:430px){
  .management__img{
    width: 280px;
    height: 230px;
   }
   .management__content{
    padding: 0px;
  }
 
}
@media only screen and (max-width:328px){
  .management__img{
    width: 250px;
    height: 200px;
   }
   .management__content{
    padding: 0 ;
    text-align: center;
  }
}

// Mobile style end